.dead {
  border: 1px solid white;
  width: 8px;
  height: 8px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.dead:hover {
  background-color: gray;
}

.alive {
  border: 1px solid white;
  width: 8px;
  height: 8px;
  margin: 0;
  margin-left: -1px;
  margin-bottom: -1px;
  background-color: white;
}
